<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>spring journey</title>
            <author>Munch-Petersen,
                            Gustaf</author>
            <editor xml:id="th"/>
         </titleStmt>
         <publicationStmt>
            <publisher>Society for Danish Language and Literature</publisher>
            <pubPlace>Copenhagen</pubPlace>
            <date>2017-11-08+01:00</date>
            <idno/>
            <availability status="free">
               <ab>GNU license</ab>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <listWit>
               <witness xml:id="A">empty</witness>
            </listWit>
            <listBibl>
               <bibl>
                  <author n="1" xml:id="idm140381329052672">
                     <name xml:id="idm140381329052240">
                        <surname xml:id="idm140381329052112">Munch-Petersen</surname>,
	  <forename xml:id="idm140381329051664">Gustaf</forename>
                     </name>
                  </author>
                  <title xml:id="idm140381329051120">Samlede skrifter II</title>
                  <pubPlace xml:id="idm140381329050704">Valby</pubPlace>
                  <publisher xml:id="idm140381329050288">Borgen</publisher>
                  <date xml:id="idm140381329049824">1988</date>
                  <biblScope>69</biblScope>
               </bibl>
            </listBibl>
         </sourceDesc>
      </fileDesc>
      <encodingDesc/>
      <profileDesc/>
      <revisionDesc/>
   </teiHeader>
   <text>
      <body>
         <div xml:id="workid63539" decls="#biblid63539">
            <head xml:id="idm140381327653456">spring journey</head>
            <lg xml:id="idm140381327653040">
               <l xml:id="idm140381327652784">- by night I left the world's house, </l>
               <l xml:id="idm140381327652352">wandered deep into</l>
               <l xml:id="idm140381327651936">myself,</l>
               <l xml:id="idm140381327651520">leaving each door unclosed -</l>
               <pb n="69" xml:id="idm140381327651088" rend="missing"/>
               <l xml:id="idm140381327650544">no stars were there, no sun, no moon,</l>
               <l xml:id="idm140381327650112">I fought through barren wildernesses</l>
               <l xml:id="idm140381327649680">with blindness lurking</l>
               <l xml:id="idm140381327649264">on each step, with corroding poison</l>
               <l xml:id="idm140381327648832">eating the sight of soul and body -</l>
               <l xml:id="idm140381327648400">I went still deeper -,</l>
               <l xml:id="idm140381327647984">I groped through rocky darkness</l>
               <l xml:id="idm140381327647552">into utter void -</l>
               <l xml:id="idm140381327647136">my eyes had died,</l>
               <l xml:id="idm140381327646720">all sound had fled,</l>
               <l xml:id="idm140381327646304">the soul shrank in dread, the last,</l>
               <l xml:id="idm140381327645872">from nothingness -</l>
               <l xml:id="idm140381327645456">- I staggered </l>
               <l xml:id="idm140381327645040">deeper -</l>
               <l xml:id="idm140381327644624">and from beyond despair </l>
               <l xml:id="idm140381327644192">read with blinded eyes </l>
               <l xml:id="idm140381327643776">the tale of man's spring - </l>
               <l xml:id="idm140381327643344">carved in stone - </l>
               <l xml:id="idm140381327642928">fuller and truer - </l>
               <l xml:id="idm140381327642512">redeeming everything - </l>
               <l xml:id="idm140381327642096">like a flower -</l>
            </lg>
         </div>
      </body>
   </text>
</TEI>
