<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>spring ballad</title>
            <author>Munch-Petersen,
                            Gustaf</author>
            <editor xml:id="th"/>
         </titleStmt>
         <publicationStmt>
            <publisher>Society for Danish Language and Literature</publisher>
            <pubPlace>Copenhagen</pubPlace>
            <date>2017-11-08+01:00</date>
            <idno/>
            <availability status="free">
               <ab>GNU license</ab>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <listWit>
               <witness xml:id="A">empty</witness>
            </listWit>
            <listBibl>
               <bibl>
                  <author n="1" xml:id="idm140381329052672">
                     <name xml:id="idm140381329052240">
                        <surname xml:id="idm140381329052112">Munch-Petersen</surname>,
	  <forename xml:id="idm140381329051664">Gustaf</forename>
                     </name>
                  </author>
                  <title xml:id="idm140381329051120">Samlede skrifter II</title>
                  <pubPlace xml:id="idm140381329050704">Valby</pubPlace>
                  <publisher xml:id="idm140381329050288">Borgen</publisher>
                  <date xml:id="idm140381329049824">1988</date>
                  <biblScope>53</biblScope>
               </bibl>
            </listBibl>
         </sourceDesc>
      </fileDesc>
      <encodingDesc/>
      <profileDesc/>
      <revisionDesc/>
   </teiHeader>
   <text>
      <body>
         <div xml:id="workid61158" decls="#biblid61158">
            <head xml:id="idm140381327951104">spring ballad</head>
            <lg xml:id="idm140381327950688">
               <l xml:id="idm140381327950432">I am the proudest of thieves -</l>
               <l xml:id="idm140381327950000">with a golden ring round my hair</l>
               <l xml:id="idm140381327949568">I sett off, when the sun sets,</l>
               <l xml:id="idm140381327949136">to steal all I want -</l>
               <l xml:id="idm140381327948720">my gliding pace</l>
               <l xml:id="idm140381327948304">is in itself the mocking unhearable fanfare</l>
               <l xml:id="idm140381327947856">of my dangerous night -</l>
            </lg>
            <lg xml:id="idm140381327947312">
               <l xml:id="idm140381327947056">I am the proudest of thieves - </l>
               <l xml:id="idm140381327946624">I despise all work,</l>
               <pb n="53" xml:id="idm140381327946208" rend="missing"/>
               <l xml:id="idm140381327945712">I scorn all toiling for money and food - </l>
               <l xml:id="idm140381327945264">I can love only</l>
               <l xml:id="idm140381327944848">the darting strength in my limbs, </l>
               <l xml:id="idm140381327944416">the unbroken growth of my beauty -</l>
            </lg>
            <lg xml:id="idm140381327943856">
               <l xml:id="idm140381327943600">with a golden ring round my hair</l>
               <l xml:id="idm140381327943168">I set off, when the sun sets,</l>
               <l xml:id="idm140381327942736">to steal what the ugly have worked -</l>
               <l xml:id="idm140381327942304">and with stolen garments</l>
               <l xml:id="idm140381327941872">on my wonderful shoulders,</l>
               <l xml:id="idm140381327941440">when the sun just rises,</l>
               <l xml:id="idm140381327941008">I break the door of my sweet-heart -</l>
            </lg>
            <lg xml:id="idm140381327940448">
               <l xml:id="idm140381327940192">and in naked pride of my own,</l>
               <l xml:id="idm140381327939760">when the sun is treading</l>
               <l xml:id="idm140381327939328">on the working backs of the ugly,</l>
               <l xml:id="idm140381327938896">I throw to my sweet-heart</l>
               <l xml:id="idm140381327938464">the gleaming prey of the night -</l>
               <l xml:id="idm140381327938032">and she smiles like the queen of queens -,</l>
               <l xml:id="idm140381327937584">she is a grand thief too,</l>
               <l xml:id="idm140381327937152">the magnificent vanity</l>
               <l xml:id="idm140381327936736">which my sweet-heart is -</l>
            </lg>
            <lg xml:id="idm140381327936176">
               <l xml:id="idm140381327935920">I am the proudest of thieves -</l>
               <l xml:id="idm140381327935488">when the sun roars its day-song,</l>
               <l xml:id="idm140381327935056">my hair will sparkle like stolen diamonds</l>
               <l xml:id="idm140381327934608">over the world of bent backs -</l>
               <l xml:id="idm140381327934176">when the sun is singing and the day is high,</l>
               <l xml:id="idm140381327933728">my wonderful love is my own -</l>
            </lg>
         </div>
      </body>
   </text>
</TEI>
